body {
	padding-top: 50px;
	font-size: 115%;
}

address{
	font-family: Lucida Grande;
	font-style: normal;
}

div {
	font-family: Georgia;
  	padding-left: 20%;
  	padding-right: 20%;
  }

div.heading {
	text-align: right;
}

div.section {
    position: relative;
	text-align: left;
	padding-top: 2.5%;
}

div#proMember {
	padding-bottom: 5%;
}

h2 {
	font-family: Lucida Grande;
}

img {
	float: left;
	width: 20%;
	height: 20%;
	border: 0px;
}

ul.skills li {
	display: inline;
}

nav {
    top: 0px;
    width: 100%;
	position: fixed;
	text-align: center;
  	z-index: 9999;
  	background-color: #00a087;
}

ul#menu li {
	display: inline;
}

ul#menu li a{
	background-color: black;
    color: white;
    padding: .7% 1.8%;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}